.forgetPasswordPage {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contentWrapper {
  width: 100%;
  max-width: 400px;
  padding: 2em;
  box-shadow: 0 0.1875em 0.375em #120f281f;
  border-radius: 0.375em;
}

.formTitle {
  color: #22293b;
  font-family: Archivo, sans-serif;
  font-size: 1.5625rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.inputWrapper {
  margin-bottom: 1.5em;
}

.inputLabel {
  display: block;
  margin-bottom: 0.5em;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
}

.inputField {
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 0.375em;
  height: 3.25em;
  display: flex;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  padding: 0 1em;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
}

.input:focus {
  outline: none;
  border-color: #2563eb;
}

.submitButton {
  color: #fff;
  background-color: #2563eb;
  border: 1px solid transparent;
  border-radius: 0.25em;
  padding: 0.8125em 2.8125em;
  font-family: Inter, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
}
