.wrapper {
  width: 100vw;
}
.container8 {
  background-color: #fff;
  padding: 6.3em 1.7em 0;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  min-height: 77vh;
  box-shadow: 0 0 2px #171a1f1f;
}
.div,
.div2 {
  background: none;
  border: none;
  color: #5a626f;
  align-items: center;
  gap: 0.5625em;
  display: flex;
  padding: 1em;
  width: 12em;
  cursor: pointer;
}

.div2:hover,
.div:hover {
  background-color: #e1eaff;
  padding: 1em;
  border-radius: 0.5em;
}

.active {
  background-color: #e1eaff;
  padding: 1em;
  border-radius: 0.5em;
}

.img,
.img2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  border-radius: 6px;
  flex-shrink: 0;
}
.img {
  width: 1.75em;
}
.img2 {
  width: 1.5em;
}

.icon {
  width: 1.75em;
  height: 1.75em;
}
.allPasswords,
.profile {
  transform: rotate(1403340000000000000deg);
}
.div2 {
  color: #666d79;
  white-space: nowrap;
  align-self: start;
  margin-top: 2.0625em;
}
.dashboard {
  display: flex;
}
.content {
  flex-grow: 1;
  background: #f8f9fa;
}
